{
  "plugins" : ["vitest"],
  "env": {},
  "extends" : ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console":0,
    "no-process-exit":0,
    "no-fallthrough":0
  },
  "overrides": [{
    "files": [ "__tests__/*.js" ],
    "globals": {
      "afterAll": "readonly",
      "afterEach": "readonly",
      "beforeAll": "readonly",
      "beforeEach": "readonly",
      "describe": "readonly",
      "expect": "readonly",
      "it": "readonly",
      "vi": "readonly"
    },
    "rules": {
      "no-unused-vars":0
    }
  }]
}
